
*.dta
北大中文模版PKU-Beamer-Template/assets/background.png
北大中文模版PKU-Beamer-Template/assets/background.xcf
北大中文模版PKU-Beamer-Template/assets/background_alternative.jpg
北大中文模版PKU-Beamer-Template/assets/background_negative.png
北大中文模版PKU-Beamer-Template/assets/logo_RGB.png
北大中文模版PKU-Beamer-Template/assets/logo_RGB.xcf
北大中文模版PKU-Beamer-Template/assets/logo_RGB_negative.png
北大中文模版PKU-Beamer-Template/assets/oldbackground.png
北大中文模版PKU-Beamer-Template/assets/oldbackground_negative.png
北大中文模版PKU-Beamer-Template/assets/oldlogo_RGB.png
北大中文模版PKU-Beamer-Template/assets/oldlogo_RGB_negative.png
北大中文模版PKU-Beamer-Template/background_negative.png
北大中文模版PKU-Beamer-Template/beamersapienza.aux
北大中文模版PKU-Beamer-Template/beamersapienza.log
北大中文模版PKU-Beamer-Template/beamersapienza.nav
北大中文模版PKU-Beamer-Template/beamersapienza.out
北大中文模版PKU-Beamer-Template/beamersapienza.pdf
北大中文模版PKU-Beamer-Template/beamersapienza.snm
北大中文模版PKU-Beamer-Template/beamersapienza.synctex.gz
北大中文模版PKU-Beamer-Template/beamersapienza.tex
北大中文模版PKU-Beamer-Template/beamersapienza.toc
北大中文模版PKU-Beamer-Template/beamersapienza.vrb
北大中文模版PKU-Beamer-Template/beamerthemesintef.sty
北大中文模版PKU-Beamer-Template/LICENSE
北大中文模版PKU-Beamer-Template/logo_RGB.png
北大中文模版PKU-Beamer-Template/logo_RGB_negative.png
北大中文模版PKU-Beamer-Template/sintefcolor.sty
temp/econ_needed.dta
